[submodule "fpga-zynq"]
	path = fpga-zynq
	url = https://github.com/ucb-bar/fpga-zynq.git
[submodule "firesim-software"]
	path = firesim-software
	url = https://github.com/firesim/firesim-software.git
[submodule "deca-docker"]
	path = deca-docker
	url = https://github.com/rhit-neuro/deca-docker.git
[submodule "fpga-images-zedboard"]
	path = fpga-images-zedboard
	url = https://github.com/heidecjj/fpga-images-zedboard.git
